@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "reset";
@import "variables/typography";
@import "variables/mixins";

body {
  font: var(--font-m);
  color: var(--text-color-dark);
  min-height: 100vh;
  box-sizing: border-box;
}

.app {
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 25px;
  height: calc(100vh - var(--height-navbar));
}
