:root {
  --light-color: #fff;
  --br-global-color: #00a6a6;
  --bs-global-color: #d5d5d5;
  --font-famile-main: candara, consolas, serif;
  --height-navbar: 80px;
  --sidebar-width: 200px;
  --sidebar-widtch-collapsed: 100px;
}
