@import 'src/app/styles/variables/typography';
@import 'src/app/styles/variables/mixins';

.pageError {
  @include center;

  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-color);
}

.title {
  @include title-2-medium;

  text-transform: uppercase;
  padding-bottom: 10px;
}

.button {
  color: var(--accent-color);
}
