.button {
  color: var(--text-color-dark);
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.button.size_s {
  width: 30px;
  height: 30px;
}

.button.size_m {
  width: 38px;
  height: 38px;
}

.button.size_s {
  width: 46px;
  height: 46px;
}

.button.size_s {
  width: 54px;
  height: 54px;
}

.clear {
  margin: 0;
  border: none;
  outline: none;
  background: none;

  &:hover {
    color: var(--accent-color);
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.light {
  background: none;
  border: 1px solid var(--opposite-primary-color);

  &:hover {
    border: 1px solid var(--br-global-color);
    color: var(--br-global-color);
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.dark {
  color: var(--text-color);
  background-color: var(--opposite-primary-color);
  border: none;

  &:hover {
    color: var(--light-color);
    background-color: var(--br-global-color);
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.4;
  }
}
