.app.dark {
  --bg-color: #171616;
  --br-color: #171616;
  --primary-color: #1a1a19;
  --opposite-primary-color: #ffffff;
  --accent-color: #b5ffff;
  --text-color: #171616;
  --text-color-dark: #fff;
}
