.app.dark {
  --bg-color: #171616;
  --br-color: #171616;
  --primary-color: #ef9452;
  --secondary-color: #f6c244;
  --opposite-primary-color: #2d1a0f;
  --accent-color: #ffe7b8;
  --text-color: #171616;
  --text-color-dark: #fff;
}
