.app.light {
  --bg-color: #e7e7e7;
  --br-color: #d5d5d5;
  --primary-color: #ffffff;
  --opposite-primary-color: #413f3d;
  --accent-color: #013636;
  --text-color: #ffffff;
  --text-color-dark: #1a1a1a;
}
