.app.light {
  --bg-color: #e7e7e7;
  --br-color: #d5d5d5;
  --primary-color: #2d1a0f;
  --secondary-color: #ad4500;
  --opposite-primary-color: #de8342;
  --accent-color: #013636;
  --text-color: #fff8ef;
  --text-color-dark: #2d1a0f;
}
